In [1]:
# imports
import numpy as np
import pandas as pd

**1. Load the dataset (iris.csv).**

In [2]:
# Load dataset
data = pd.read_csv('iris.csv')

In [3]:
data

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

**2. Split dataset into test and train (20:80).**

In [4]:
from sklearn.model_selection import train_test_split
X = data.drop(['variety'], axis=1).values 
y = data['variety']
X_train, X_test, y_train, y_test =  train_test_split(X,y,test_size = 0.2, random_state= 2)

**3. Build KNN classifier with k value as 2 for identifying the flower Species.**

In [5]:
from sklearn.neighbors import KNeighborsClassifier
#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=2)
#Train the model using the training sets
knn.fit(X_train, y_train)
#Predict the response for test dataset
y_pred1 = knn.predict(X_test)

**4. Build KNN classifier with k value as 4 for identifying the flower Species.**

In [6]:
from sklearn.neighbors import KNeighborsClassifier
#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=4)
#Train the model using the training sets
knn.fit(X_train, y_train)
#Predict the response for test dataset
y_pred2 = knn.predict(X_test)

**5. Evaluate the step-3 and step-4.**

k value as 2

In [7]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred1))

Accuracy: 1.0

k value as 4

In [8]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred2))

Accuracy: 1.0

**6. Design a method for calculating the distance between data points for the given dataset**

In [9]:
def euclidean_distance(row1, row2):
    distance = 0.0
    for i in range(len(row1)-1):
        distance += (row1[i] - row2[i])**2
    return sqrt(distance)

**7. Design a method for finding the nearest neighbors of a given data point using the above method.**

In [10]:
def get_neighbors(train, test_row, num_neighbors):
    distances = list()
    for train_row in train:
        dist = euclidean_distance(test_row, train_row)
        distances.append((train_row, dist))
    distances.sort(key=lambda tup: tup[1])
    neighbors = list()
    for i in range(num_neighbors):
        neighbors.append(distances[i][0])
    return neighbors

**8. Design a method predicting the data point using above two methods.**

In [11]:
def predict_classification(train, test_row, num_neighbors):
    neighbors = get_neighbors(train, test_row, num_neighbors)
    output_values = [row[-1] for row in neighbors]
    prediction = max(set(output_values), key=output_values.count)
    return prediction

**9. Choose any dataset from Kaggle or UCI repository suitable for regression and apply KNN algorithm for regression.**

In [12]:
dataset = pd.read_csv('advertising.csv')

In [13]:
dataset

        TV  Radio  Newspaper  Sales
1    230.1   37.8       69.2   22.1
2     44.5   39.3       45.1   10.4
3     17.2   45.9       69.3    9.3
4    151.5   41.3       58.5   18.5
5    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [14]:
dataset.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [15]:
print("Shape:", dataset.shape)

Shape: (200, 4)

In [16]:
print("Data Types:", dataset.dtypes)

Data Types: TV           float64
Radio        float64
Newspaper    float64
Sales        float64
dtype: object

In [17]:
from sklearn.model_selection import train_test_split
x = dataset.drop(['Sales'], axis=1).values 
y = dataset['Sales']
X_train, X_test, y_train, y_test =  train_test_split(x,y,test_size = 0.2, random_state= 10)

In [22]:
from sklearn.neighbors import KNeighborsRegressor
#Create KNN Regressor

knn = KNeighborsRegressor(n_neighbors=3)

#Train the model using the training sets
knn.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = knn.predict(X_test)

**10. Evaluate the designed regression model with appropriate metric.**

In [23]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_pred)

2.3958611111111114

In [24]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

1.144166666666667

In [25]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9411330460488659